body{

}
.Forest{
    background-color: black;
    height: 5000px;
    width:600px;
    position:relative;

}
#Tree{
    background-color: aqua;
    width: 80px;
    position:absolute;
    bottom: 80px;
    top: auto;
}